<footer class="bg-black rounded-lg shadow dark:bg-gray-900 m-4">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
      <div class="flex items-center flex-col">
          <a href="https://github.com/hennessy-dev" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse self-center" target="_blank">
              <img src="../../../assets/hennessy-logo.png" class="h-40" alt="Hennessy Logo" />
              <span class="self-center text-2xl font-semibold whitespace-nowrap text-white"> <{{ 'Hennessy/> ' }} </span>
          </a>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
      <span class="block text-sm text-white sm:text-center">© 2024 <a href="https://github.com/hennessy-dev" class="hover:underline">Hennessy Dev</a>. All Rights Reserved.</span>
  </div>
</footer>